{% if cv.publications %}
  <section id="publications" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Publications</h3>
    </header>

    <div class="entry-content">
      {% for p in cv.publications %}
        <article>
          {% if p.name %}
            <h4 class="title">
              {% if p.website %}
                <a href="{{ p.website }}">{{ p.name }}</a>
              {% else %}
                {{ p.name }}
              {% endif %}
            </h4>
          {% endif %}
          {% if p.releaseDate %}
            <div class="date">{{ p.releaseDate }}</div>
          {% endif %}
          {% if p.publisher %}
            <h5 class="publisher">{{ p.publisher | prepend: 'Published by ' }}</h5>
          {% endif %}
          {% if p.summary %}
            <div class="summary">{{ p.summary | markdownify }}</div>
          {% endif %}
          {% if p.coauthors %}
            {% if coauthors.size > 1 %}
              <h5 class="publication-coauthors-title">Co-authors:</h5>
            {% else %}
              <h5 class="publication-coauthors-title">Co-author:</h5>
            {% endif %}
            <ul class="publication-coauthors">
              {% for coauthor in p.coauthors %}
                <li>
                  {% if coauthor.url %}
                    <a href="{{ coauthor.url }}">{{ coauthor.name }}</a>
                      {% if coauthor.label == 'LinkedIn' %}
                        <span class="icon icon--linkedin"> {% include icon-linkedin.svg %}</span>
                      {% endif %}
                  {% elsif coauthor.name %}
                    {{ coauthor.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}
